body {
	background-color: #f7f7f8;
}



nav, .menu, li, ul {
	font-family: 'Roboto Condensed', sans-serif, 700;
	font-size: 18px;
	float: right;
	padding: 5px 30px;
}

ul {
	 list-style-type: none;
}



#main1 {
	background-color: #ffffff;
	height: auto;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 35px;

}

#main2 {
	background-color: #ffffff;
	height: 500px;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 100px;
}

#header2 {
		font-family: 'Lato', sans-serif;
		font-size: 30px;
		font-weight: 400;	
		padding-top: 20px;
		width: 100%;
		margin-left: 50px;
		padding-top: 50px;

}

#DM {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 18px;
	max-width: 30%;
	margin-left: 50px;
	float: left;
	line-height: 1.5em;
}

#HPheader {

	font-family: 'Leckerli One', cursive;
	font-weight: 400;
/*	text-transform: uppercase;
*/	color: #2b2b2b;
	font-size: 45px;
	text-align: center;
	padding-top: 1.5em;
/*	letter-spacing: 1px;
*/	text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);

}

#video {
	width: 700px;
	height: 350px;
	background-color: #c2c2c2;
	float: right;
	margin-right: 50px;
	margin-top: 20px;
}

a#navmenu:link {
	color: #292f33;
	text-decoration: none;
}

a#navmenu:active {
	color: #292f33;
	text-decoration: none;
}

a#navmenu:visited {
	color: #292f33;
	text-decoration: none;
}

a#navmenu:hover {
	color: #3b88c3;
	text-decoration: none;
}

a.copylink:link {
	color: #292f33;
	text-decoration: none;
}

a.copylink:active {
	color: #292f33;
	text-decoration: none;
}

a.copylink:visited {
	color: #292f33;
	text-decoration: none;
}

a.copylink:hover {
	color: #226699;
	text-decoration: none;
}

/*#main {
	max-width: 10%px;
}*/







button{
	outline: 0;
	border: none;
	padding: 10px 30px;
	display: block;
	color: #ffffff;
	font-family: 'Roboto Condensed', sans-serif, 400;
	font-size: 18px;
	background-color: #000000;
	text-transform: uppercase;
	margin: auto;
/*	padding-bottom: 10px;
*/
}

button:hover {
	background-color: #31329f;
	text-decoration: none;
}

#grid {
	max-width: 100%;
	max-height: 150pxpx;
/*	padding-top: 10px;
*/	margin: 0 auto;
}

#a {
	background-color: #cc3ea2;
	background-image:url("https://raw.githubusercontent.com/jessperate/jessperate.github.io/master/vogue.jpg");
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: bottom;
}

#b {
	/*background-color: #77b255;
	background-image:url("https://raw.githubusercontent.com/jessperate/jessperate.github.io/master/vogue3.jpg");
	background-repeat: no-repeat;*/
	background-color: #c6e5b3;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-size: 100%; 
	background-position: bottom;
}

#c {
	background-color: #55acee;
	background-image:url("https://raw.githubusercontent.com/jessperate/jessperate.github.io/master/vogue4.jpg");
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: bottom;
}

#d {
	background-color: #cbb7ea;
	background-image: repeating-linear-gradient(180deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-size: 100%; 
	background-position: bottom;
	 color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5; 
}

#e {
	background-color: #ffe8b6;
	background-image: repeating-linear-gradient(180deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-size: 100%; 
	background-position: bottom;
	 color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}

#f {
	background-color: #dd2e44;
	background-color: #55acee;
	background-image:url("https://github.com/jessperate/jessperate.github.io/blob/master/vogue7.jpg?raw=true");
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: bottom; 
}

#g {
	background-color: #fccdd6;
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-size: 100%; 
	background-position: bottom;
	 color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5; 
}

#h {
	background-color: #55acee;
	background-image:url("https://github.com/jessperate/jessperate.github.io/blob/master/vogue9.jpg?raw=true");
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: bottom; 
}

#i {
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: bottom; 
}

#profile1 {
	width: 200px;
	height: 200px;
	text-align: center;
}

#copy {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
  		 color: #202c2d;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5; 
/*	margin-top: 30%;
*/	
}

/**/

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
   /* background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);*/
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

#copy:hover {

}

 #copyblurb {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	text-align: center;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	opacity: 0;
}

#Design {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#Video {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#Tacos {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 70px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin: auto;
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);


}



.box  {
	width: 24.75%;
	background-color: #3e91cc;
	height: 300px;
	float: left;
/*	display: block;
/**/margin: .125%;
/*	display: inline-block;
*/}

/*img {
	max-width: 100%;
	height: auto;
	margin: auto;
	display: block;
}*/



h2 {
/*	font-family: 'Roboto Condensed', sans-serif;
*/	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 32px;
	color: #000000;
/*	padding: 20px;
*/*//*	background-color: #000000;
	margin-top: 2em;
	max-width: 80%;
/*	margin-left: 1em;
*/	text-align: left;
	
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color: #4344d8;
	font-size: 18px;
/*	padding: 20px;
*/	margin-top: -4%;
}

#blurb {
/*	font-family: 'Crimson Text', serif;
*/	
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.75em;
	text-align: center;
	margin-top: 1.2em;
	max-width: 60%;
	padding-bottom: 25px;
	margin: auto;

}



h4 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #4344d8;
	font-weight: 700;
	margin-top: -1%;
	text-decoration: underline;
	text-indent: 15%;
}

#hand {
	margin: 0 auto;
	max-width: 161px;	
	padding-top: 40px;
}

.thumbnail {
	float: left;
}

/*h5 {
	max-width: 1200px;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #4344d8;
	color: #000000;
	max-height: 60px;
	padding-top: 600px;
*/
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

#footer { 
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	color:black;
/*    display: block;
*/    /*position: fixed;*/
   text-align: center;
   clear: both;
   height:60px;
   width:100%;
   padding-top: 30px;
   font-size: 18px;
   background-color: #fff;

}

/* Start http://www.cursors-4u.com */ body, a:hover {cursor: url(http://cur.cursors-4u.net/food/foo-4/foo333.cur), progress !important;} /* End http://www.cursors-4u.com */


@media screen and (min-width: 320px) and (max-width: 900px) {
    .menu, ul, li {
/*    	width: 100%;
*/        float: none;
/*		text-align: center;
*/		display: block;
		padding: none;
		/*font-size: 1.2em;
		padding: .5em;
		background: #eee;
		min-height: 2em;
		line-height: 1em;*/
    }

    .menu ul {
    	width: 180px;
    	margin-left: 100px;
		padding: 5px 0;
		padding-top: 3px;
		position: absolute;
		align: center;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff url(images/icon-menu.png) no-repeat 10px 11px;
		border-radius: 5px;
/*		box-shadow: 0 1px 2px rgba(0,0,0,.3);
*/    }

    .menu li {
		display: none; /* hide all <li> items */
		margin: 0;
	}

	.menu .current {
		display: block; /* show only current <li> item */
	}

	.menu ul:hover {
		background-image: none;
	}

	.menu ul:hover li {
		display: block;
		margin: 0 0 5px;
	}

    .menu {
    	text-align: center;
    }

    #main {
/*    	padding-bottom: 100px;
*/    	height: auto;
    }



    	.box {
 		float: none;
 		width: 100%;
 	}


}

@media screen and (min-width: 900px) and (max-width: 1200px) {
		.box {
			height: 200px;
/*			float: none;
*/		}


}

